<div class="flex justify-content-center align-items-center w-screen h-screen">
    <p-table [value]="cinemas" responsiveLayout="scroll" class="w-8 h-min">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <p-button (click)="form_cinema.reset(); ver_formulario=true" label="Adicionar"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th> Codigo </th>
                <th> Nombre </th>
                <th> Ciudad </th>
                <th> Telefono </th>
                <th> Direccion </th>
                <th> E-mail </th>
                <th> Accion </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cinema>
            <tr>
                <td> {{cinema.codigo_cinema}} </td>
                <td> {{cinema.nombre_cinema}} </td>
                <td> {{cinema.ciudad}} </td>
                <td> {{cinema.telefono}} </td>
                <td> {{cinema.direccion}} </td>
                <td> {{cinema.email}} </td>
                <td><p-button (click)="llenar_form(cinema); ver_formulario=true" label="Editar"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Formulario de Cinema" [(visible)]="ver_formulario">
    <form [formGroup]="form_cinema">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <input type="text" formControlName="codigo_cinema" placeholder="Codigo cinema" pInputText>
            </div>
            <div class="col-12 md:col-4">
                <input type="text" formControlName="nombre_cinema" placeholder="Nombre cinema" pInputText>
            </div>
            <div class="col-12 md:col-4">
                <input type="text" formControlName="ciudad" placeholder="Ciudad" pInputText>
            </div>
            <div class="col-12 md:col-4">
                <input type="text" formControlName="telefono" placeholder="Telefono" pInputText>
            </div>
            <div class="col-12 md:col-4">
                <input type="text" formControlName="direccion" placeholder="Direccion" pInputText>
            </div>
            <div class="col-12 md:col-4">
                <input type="text" formControlName="email" placeholder="E-mail" pInputText>
            </div>
        </div>
    </form>
    <p-button (click)="guardar_actualizar_cinema()" label="Guardar"></p-button>
</p-dialog>
