<div class="flex justify-content-center w-screen my-8">
    <p-table [value]="salas" responsiveLayout="scroll" class="w-8 h-min">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <p-button (click)="form_sala.reset(); ver_formulario=true" label="Adicionar"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th> Codigo </th>
                <th> Nombre </th>
                <th> Cinema </th>
                <th> Tipo </th>
                <th> Capacidad </th>
                <th> Accion </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sala>
            <tr>
                <td> {{sala.codigo_sala}} </td>
                <td> {{sala.nombre_sala}} </td>
                <td> {{sala.cinema.nombre_cinema}} </td>
                <td> {{sala.tipo_sala}} </td>
                <td> {{sala.capacidad}} </td>
                <td><p-button (click)="llenar_form(sala); ver_formulario=true" label="Editar"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Formulario de Producto" [(visible)]="ver_formulario">
    <form [formGroup]="form_sala">
        <div class="flex flex-column justify-content-center align-items-start gap-4 mb-5">
                <input type="text" formControlName="codigo_sala" placeholder="Codigo sala" pInputText>
                <input type="text" formControlName="nombre_sala" placeholder="Nombre sala" pInputText>
                <p-dropdown [options]="cinemas" formControlName="cinema" optionLabel="name" optionValue="code"></p-dropdown>
                <input type="text" formControlName="tipo_sala" placeholder="Tipo sala" pInputText>
                <input type="text" formControlName="capacidad" placeholder="Capacidad" pInputText>
        </div>
    </form>
    <p-button (click)="guardar_actualizar_sala()" label="Guardar"></p-button>
</p-dialog>