<div class="flex justify-content-center align-items-center w-screen h-screen">

    <p-splitter [style]="{'height': '300px'}" styleClass="mb-5 w-12 p-1 h-min" [gutterSize]="12">
        <ng-template pTemplate>
            <p-table [value]="productosdisponibles" responsiveLayout="scroll" >
                <ng-template pTemplate="caption">Venta de Productos
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> Nombre</th>
                        <th> Valor Venta</th>
                        <th> Inventario</th>
                        <th> Accion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td> {{producto.nombre_producto}} </td>
                        <td> {{producto.valor_venta| currency:'COP' :'$':'3.2-2'}} </td>
                        <td> {{producto.inventario| number:'3.0-0'}} </td>
                        <td>
                            <p-button (click)="marcar_prd(producto); ver_formulario=true"
                                      label="Marcar"></p-button>
                        </td>
                    </tr>
                    <p-dialog header="Formulario Venta de Producto" [(visible)]="ver_formulario">
                        <form [formGroup]="form_producto">
                            <div class="grid p-fluid">
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="nombre_producto" placeholder="Nombre Producto" readonly pInputText>
                                </div>
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="valor_venta" placeholder="Valor" readonly pInputText>
                                </div>
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="cantidad" placeholder="Cantidad Requerida" pInputText>
                                </div>
                            </div>
                        </form>
                        <p-button (click)="incluir_prd_venta()" label="Incluir"></p-button>
                    </p-dialog>
                </ng-template>
            </p-table>

        </ng-template>
        <ng-template pTemplate>
            <p-table [value]="combosdisponibles" responsiveLayout="scroll">
                <ng-template pTemplate="caption">Venta de Combos
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th> Nombre</th>
                        <th> Descuento</th>
                        <th> Accion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-combo>
                    <tr>
                        <td> {{combo.nombre_combo}} </td> <!--
                        <td> {{combo.valor_venta| currency:'COP' :'$':'3.2-2'}} </td> -->
                        <td> {{combo.descuento| number:'1.2-2'}} </td>
                        <td>
                            <p-button (click)="marcar_cmb(combo); ver_formulario1=true"
                                      label="Marcar"></p-button>
                        </td>
                    </tr>
                    <p-dialog header="Formulario Venta de Combo" [(visible)]="ver_formulario1">
                        <form [formGroup]="form_combo">
                            <div class="grid p-fluid">
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="nombre_combo" placeholder="Nombre Combo" readonly pInputText>
                                </div>
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="descuento"  placeholder="Descuento" readonly pInputText>
                                </div>
                                <div class="col-12 md:col-4">
                                    <input type="text" formControlName="cantidad" placeholder="Cantidad Requerida" pInputText>
                                </div>
                            </div>
                        </form>
                        <p-button (click)="incluir_cmb_venta()" label="Incluir"></p-button>
                    </p-dialog>
                </ng-template>
            </p-table>
        </ng-template>
    </p-splitter>
    <button type="text" pButton label="Revisar Compra" (click)="revisar_compra();op.toggle($event)"></button>
    <div #actualTarget></div>
</div>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
    <ng-template pTemplate>
        <p-table [value]="ventas">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prd>
                <tr>
                    <td>{{prd.nombre}}</td>
                    <td>{{prd.cantidad}}</td>
                    <td>{{prd.valor_item}}</td>
                </tr>
            </ng-template>
            Valor total compra ==> ${{valor_venta}}
        </p-table>
    </ng-template>
</p-overlayPanel>






