<div *ngIf="api.usuario" class="fixed z-5" style="top: 10px; left: 10px;">
    <p-slideMenu #menu [model]="api.items" [popup]="true" [viewportHeight]="380"></p-slideMenu>
    <button type="button" class="bg-cyan-700" pButton icon="pi pi-list" label="Menu" (click)="menu.toggle($event)"></button>
</div>
<div *ngIf="api.usuario" class="fixed z-4 w-screen text-6xl text-center bg-black-alpha-50" style="top: 10px;">
    CineTIC
</div>
<div class="flex flex-column align-content-center w-screen">
    <router-outlet></router-outlet>
</div>
<div *ngIf="api.usuario" class="fixed z-4 w-screen p-3 text-center bg-black-alpha-50" style="bottom: 0;">
    MisionTIC - Grupo 1 - 2022 - Todos los derechos reservados
</div>