<div class="flex justify-content-center w-screen my-8">
  <p-table [value]="empleados" responsiveLayout="scroll" class="w-8 h-min">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-button (click)="form_empleado.reset(); ver_formulario=true" label="Adicionar"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th> Identificacion </th>
        <th> Nombres y Apellidos </th>
        <th> Telefono </th>
        <th> Usuario </th>
        <th> Accion </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empleado>
      <tr>
        <td> {{empleado.identificacion}} </td>
        <td> {{empleado.nombres}} {{empleado.apellidos}} </td>
        <td> {{empleado.telefono}} </td>
        <td> {{empleado.username}} </td>
        <td><p-button (click)="llenar_form(empleado); ver_formulario=true" label="Editar"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Formulario de Empleado" [(visible)]="ver_formulario">
  <form [formGroup]="form_empleado">
    <div class="flex flex-column justify-content-center align-items-start gap-4 mb-5">
      <input type="text" formControlName="identificacion" placeholder="identificacion" pInputText>
      <div class="flex gap-4">
        <input type="text" formControlName="nombres" placeholder="Nombres" pInputText>
        <input type="text" formControlName="apellidos" placeholder="Apellidos" pInputText>
      </div>
      <div class="flex gap-4">
        <input type="text" formControlName="direccion" placeholder="Direccion" pInputText>
        <input type="phone" formControlName="telefono" placeholder="Telefono" pInputText>
      </div>
      <p-calendar formControlName="fecha_nacimiento" [showIcon]="true" [touchUI]="true" [readonlyInput]="true" inputId="touchui"></p-calendar>
      <div class="flex gap-4">
        <input type="text" formControlName="username" placeholder="Username" pInputText>
        <input type="email" formControlName="email" placeholder="Email" pInputText>
      </div>
      <input type="password" formControlName="password" placeholder="Password" pInputText>
    </div>
  </form>
  <p-button (click)="guardar_actualizar_empleado()" label="Guardar"></p-button>
</p-dialog>

<p-toast></p-toast>
