<div class="flex justify-content-center w-screen my-8">
  <p-table [value]="peliculas" responsiveLayout="scroll" class="w-8">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-button (click)="form_pelicula.reset(); ver_formulario=true" label="Adicionar"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th> Codigo </th>
        <th> Nombres </th>
        <th> Genero </th>
        <th> Clasificacion </th>
        <th> Duracion </th>
        <th> Accion </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pelicula>
      <tr>
        <td> {{pelicula.codigo_pelicula}} </td>
        <td> {{pelicula.nombre_pelicula}}</td>
        <td> {{pelicula.genero}} </td>
        <td> {{pelicula.clasificacion}} </td>
        <td> {{pelicula.duracion}} </td>
        <td><p-button (click)="llenar_form(pelicula); ver_formulario=true" label="Editar"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Formulario de Pelicula" [(visible)]="ver_formulario">
  <form [formGroup]="form_pelicula" #formPelicula>
    <div class="flex flex-column justify-content-center align-items-start gap-4 mb-5">
      <input type="text" formControlName="codigo_pelicula" placeholder="Codigo Pelicula" pInputText>
      <input type="text" formControlName="nombre_pelicula" placeholder="Nombre Pelicula" pInputText>
      <p-dropdown [options]="generos" formControlName="genero" optionLabel="name" optionValue="code"></p-dropdown>
      <p-dropdown [options]="clasificaciones" formControlName="clasificacion" optionLabel="name" optionValue="code"></p-dropdown>
      <input type="date" formControlName="fecha_filmacion" pInputText>
      <input type="number" formControlName="duracion" placeholder="Duracion (min)" pInputText>
      <input type="file" placeholder="Foto Caratula" pInputText (change)="onImageChange($event)">
      <textarea pInputTextarea formControlName="sinopsis" [autoResize]="true" [rows]="3"></textarea>
    </div>
    <p-button (click)="guardar_actualizar_pelicula()" label="Guardar"></p-button>
  </form>
</p-dialog>

<p-toast></p-toast>
